<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed" existingResponse="PassThrough" />
        <directoryBrowse enabled="true" />
    </system.webServer>
	<system.web>
        <customErrors mode="Off" />
        <compilation debug="true" />
    </system.web>
</configuration>
